html, body
  margin 0
  
// 布局
.flex-row
  display flex
  flex-flow row nowrap
.flex-column
  display flex
  flex-flow column nowrap
.flex-start-center
  justify-content flex-start
  align-items center
.flex-end-center
  justify-content flex-end
  align-items center
.flex-center
  justify-content center
  align-items center
.flex-between-center
  justify-content space-between
  align-items center
.flex-around-center
  justify-content space-around
  align-items center
.flex-center-start
  justify-content center
  align-items flex-start
.flex-center-end
  justify-content center
  align-items flex-end
.flex-center-stretch
  justify-content center
  align-items stretch
.flex-center-baseline
  justify-content center
  align-items baseline